@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

<div>
    
        <input name="FileUpload" id="fileToUpload" type="file" placeholder="Choose File" />
        <br /><br />
        <input type="button" onclick="uploadFile()" value="send" />
    
</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <h4>NAME : </h4><h3>@UserManager.GetUserAsync(User).Result.NameUSER</h3>
        <h4>CITY : </h4><h3>@UserManager.GetUserAsync(User).Result.City</h3>
    }
</div>

@section Scripts {
    <script src="~/js/index.js" defer></script>
}