@using System.Security.Claims


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <h3>@User.FindFirstValue("City")</h3>
    }
</div>
